**input - print**

In [3]:
name = input("enter a name: ")
print("your name is "+ name)

your name is amin

# formating
---

In [5]:
"say hi to " + 12

TypeError: must be str, not int

In [9]:
print(f"Your number is {input('enter your name')}")

Your number is 12

# list

In [10]:
[1,
'amin',
'computer']

[1, 'amin', 'computer']

In [11]:
ls = [1, 2, 3, 4, 5, 6, 7]
print(ls)

[1, 2, 3, 4, 5, 6, 7]

In [14]:

#ls[start:end:step]
ls[3:]

[4, 5, 6, 7]

In [17]:
ls[-1:0:-1]

[7, 6, 5, 4, 3, 2]

## add and remove from lists
`append`

`extend`

`pop`

In [19]:
ls[-1] = 10
ls

[1, 2, 3, 4, 5, 6, 10]

In [20]:
ls.append(20)

In [21]:
ls

[1, 2, 3, 4, 5, 6, 10, 20]

In [22]:
ls_2 = [-1, -2, -4 , -100, 200]

In [23]:
ls + ls_2

[1, 2, 3, 4, 5, 6, 10, 20, -1, -2, -4, -100, 200]

In [24]:
ls.extend(ls_2)

In [25]:
ls

[1, 2, 3, 4, 5, 6, 10, 20, -1, -2, -4, -100, 200]

In [26]:
ls.append(['Ahmad'])

In [27]:
ls

[1, 2, 3, 4, 5, 6, 10, 20, -1, -2, -4, -100, 200, ['Ahmad']]

In [28]:
# del
del ls[-1]
ls

[1, 2, 3, 4, 5, 6, 10, 20, -1, -2, -4, -100, 200]

In [29]:
print(ls.pop())

200

In [31]:
ls

[1, 2, 3, 4, 5, 6, 10, 20, -1, -2, -4, -100]

In [32]:
sorted(ls)

[-100, -4, -2, -1, 1, 2, 3, 4, 5, 6, 10, 20]

In [35]:
[*reversed(ls)]

[-100, -4, -2, -1, 20, 10, 6, 5, 4, 3, 2, 1]

In [ ]:
# for
- for in list
- how for work
- using range
- facorial

In [36]:
for item in ls:
    print(item)

1
2
3
4
5
6
10
20
-1
-2
-4
-100

In [38]:
for number in ls:
    print(number ** 3
    )

1
8
27
64
125
216
1000
8000
-1
-8
-64
-1000000

In [39]:
# range(start,stop,step)
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [40]:
for number in range(5,100,4):
    print(number)

5
9
13
17
21
25
29
33
37
41
45
49
53
57
61
65
69
73
77
81
85
89
93
97

In [41]:
for number in range(0 , 100, 2):
    print(number)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [43]:
-100 in ls

True

In [47]:
ls * 2

[1,
 2,
 3,
 4,
 5,
 6,
 10,
 20,
 -1,
 -2,
 -4,
 -100,
 1,
 2,
 3,
 4,
 5,
 6,
 10,
 20,
 -1,
 -2,
 -4,
 -100]

## dict

In [50]:
dc = {
    '/': 'do the /'
}

In [52]:
dc['/']

'do the /'

In [53]:
'/' in dc

True

In [54]:
'*' in dc

False

In [56]:
dc.get('/', 'Not Found')

'do the /'

## functions

In [ ]:
refactor samples to function

In [48]:
def func(param):
    return param

In [49]:
func(100)

100

# classes

In [57]:
class className:
    class_variable = 100

In [58]:
class_int = className
class_int

__main__.className

In [60]:
class_int.class_variable

100

In [80]:
class Person:
    def __init__(self, name, personal_id, age):
        print(name , personal_id , age)
        self.name = name 
        self.personal_id = personal_id
        self.age = age 
        print("class created")
    
    def print_info(self):
        print(f""" 

        name: {self.name}
        age: {self.age}
        id: {self.personal_id}
        
        """)

    def set_name(self, name):
        self.name = name

In [81]:
person = Person('Amin', 1, 24)

Amin 1 24
class created

In [83]:
person.set_name("Ali")
person.print_info()

        name: Ali
        age: 24
        id: 1

In [84]:
person.name = "Ahmad"

In [85]:
person.print_info()

        name: Ahmad
        age: 24
        id: 1

In [76]:
person.print_info()

        name: Amin
        age: 24
        id: 1